.header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
  position: relative;
  .headerBannerContainer {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-position: center;
    z-index: 0;
    overflow: hidden;
    .headerBanner {
      //height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  .headerContainer {
    z-index: 100;
  }

}

.logo {
  width: 60px;
}
