.nav {
  background-color: #fff;
  flex: 0 0 20%;
  margin-right: 20px;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  padding: 30px;
}


.item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #000;
  }


  svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;

  }

}

.item a.active {

 color: gold;

}

