.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.item a {
    text-decoration: none;
    color: white;

}

.item a.active {

    color: gold;

}

.nav__friends {
    display: flex;
}