@import '../../accets/styles/variables.scss';

.friendNavBar {
  background-color: #fff;
  flex: 0 0 20%;
  border-radius: 20px;
  height: calc(100vh - 100px);
  overflow: hidden;
  //padding: 20px;
  box-sizing: border-box;

  .friendNavBar__title {
    position: relative;
    font-weight: 500;
    display: inline-block;
    margin: 20px 20px 20px 20px;

    &:before {
      content: '';
      position: absolute;
      height: 2px;
      background-color: $primary-mui;
      width: 110%;
      left: 0;
      bottom: -5px;
    }
  }

  .nav__friends {
    max-height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
      transition: background 0.3s ease-in-out;
    }

    &::-webkit-scrollbar-thumb {
      transition: background 0.3s ease-in-out;
    }

    &:hover::-webkit-scrollbar-thumb { // добавляем стили только когда курсор находится на контейнере
      background: rgba(121, 121, 121, 1);
      transition: background 0.3s ease;
    }

    .friendContainer {
      position: relative;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 10px 20px;

      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 1px;
        left: 20px;
        bottom: 0;
        background-color: $gray-color;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(169, 169, 169, 0.25);
        opacity: 0;
      }

      &:hover:before {
        opacity: 1;
      }

      .photo {
        display: flex;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 10px 0 0;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      .name {
        font-weight: 500;
      }
    }

  }
}

.friendLInk {
  text-decoration: none;
  color: inherit;
}