
.profile {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;

  .user {
    display: flex;

    .user__info {
      flex: 1 1 auto;
      min-width: 0;

      .user__title {
        margin-top: 20px;
        margin-bottom: 10px;

      }

      p {
        margin: 0 0 5px;
      }

      .user__subtitle {
        margin-top: 20px;
        margin-bottom: 10px;
      }

    }

    .user__photo {
      text-align: center;
      position: relative;
      overflow: hidden;
      margin-right: 30px;
      flex-shrink: 0;

      img {
        display: block;
        height: 200px;
        margin-bottom: 5px;
      }
    }
  }
}


