.editProfileForm {
  tr {
    td:last-child {

      div {
        width: 100%;
        margin-bottom: 3px;
        input {
          padding: 5px 10px;
          width: 100%;

        }
      }
    }

  }


.saveButton {
  text-align: end;
  margin-top: 10px;
  width: 100%;
}
}