@import 'accets/styles/variables.scss';


.app-wrapper__content {
    flex: 1 1 auto;
    margin-right: 20px;
    overflow: hidden;
}


.container {
    max-width: 1100px;
    display: flex;
    margin: 0 auto 30px;
}
body {
    background-color: $gray-color;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    textarea, input {
        font-family: inherit;
    }
}

.page {
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-dark-color;
    font-size: 20px;
}

.initializationPrePage {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $gray-dark-color;
}