@import 'accets/styles/variables.scss';

.app-wrapper {
    /*max-width: 1440px;*/
    /*margin: 0 auto;*/
    /*display: grid;*/
    /*grid-template-rows: 60px 1fr;*/
    /*grid-auto-columns: 2fr 10fr;*/

    /*grid-template-areas:*/
    /* "h h"*/
    /* "n c";*/

}

.app-wrapper__content {
    /*grid-area: c;*/

    flex: 1 1 auto;
    margin-right: 20px;

    overflow: hidden;
}


.container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
}
body {
    background-color: $gray-color;
}