@import '../../accets/styles/variables.scss';


.dialogsPage {
 background-color: #fff;
    border-radius: 20px;
  height: calc(100vh - 100px) ;
  .dialogsPage__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $gray-dark-color;
    font-size: 20px;
  }
}

.page__dialogs {
    padding: 20px;

}

.page__messages {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

