@import '../../accets/styles/variables.scss';


.dialogsPage {
  padding: 30px;
  box-sizing: border-box;
flex: 1 1 auto;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px;
  height: calc(100vh - 100px);


  .dialogsPage__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $gray-dark-color;
    font-size: 20px;
  }
}

.page__dialogs {
  padding: 20px;

}

.page__messages {
  display: flex;
  flex-direction: column;
  align-items: start;
  .messagesContainer {
    width: 100%;
    overflow: scroll;
  }
  .dialogsPage__info {
width: calc(100% + 20px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px -20px;
    .toProfileBtn {
      text-transform: none;
    }
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      height: 1px;
      left: 20px;
      bottom: 0;
      background-color: $gray-color;
    }
  }
}

