.send {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.send__input {
    width: 100%;
    resize: none;
    margin-right: 20px;
}

.send__btn {
    padding: 5px 10px;
}

.messageForm {
    width: 100%;
}