@import '../../../accets/styles/variables.scss';
.message {
    display: flex;
    margin-bottom: 10px;
    align-items: end;
    width: 100%;

}

.message__my {
    align-self: end;
    flex-direction: row-reverse;
}

.photo {
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;


}

.photo__my {
    margin-left: 10px;
}

.photo__friend {
    margin-right: 10px;
}

.photo img {
    width: 100%;
    object-fit: cover;
}

.text {
word-wrap: break-word;
    width: calc(100% - 150px);
    background-color: $gray-color;
    padding: 5px 10px;
    border-radius: 10px;
    .name {
        font-size: 14px;
font-weight: 600;
        color: $primary-mui;
        margin-bottom: 5px;
        .name__my {


        }
    }
}